@import '../../../styles/settings.scss';

.icon {
  margin-left: 8px;
  color: #DC004E;
}

.nav {
  padding: 12px;
  width: 100%;
  height: $header-height;
}

.link {
  color:inherit;
}

.user {
  display: flex;

  .userInfo {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.875rem;
    letter-spacing: 0.02857em;
    margin-right: 15px;
  }
  .userPhoto {
    height: 46px;
    width: 46px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}




